/** style.css **/

body {
    margin: 0;
    padding: 0;
}
#banner {
    padding-right: 5%;
    padding-left: 10%;
    padding-top: 10px;
    padding-bottom: 20px;
    background-color: grey;
}
.logo {
    height:100px;
}

.header {
    display: flex;
    flex-direction: row;
    flex:1;
    justify-content: space-between;
    
}
a:link {
    list-style: none;
    text-decoration: none;
    
}

.links {
    display: flex;
    flex-direction: row;
    gap: 30px;
    height:min-content;
    justify-content: right;
    font-size: 30px;
}

.info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex:1;
    gap: 10%;
    margin-top: 30px;
    height: min-content;
    
}
.welcome {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
h3 {
    color: wheat;
}

.wip {
    width: 550px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.ghpage {
    background-color: blue;
    font-size: large;
    font-weight: 700;
    border-radius: 15px;
}

.img-showcase {
    font-size: larger;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 15%;
    margin-left: 15%;
}
.imgs-li {
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 15px;

}

.imgs {
    width: 175px;
    height:150px;
    border-width: 175px;
    border-radius: 15px;
}


figcaption {
    color: wheat;
    width: 175px;
    text-align: center;
}

#quote-banner {
    background-color: rgba(100,100,100,.5);
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 20px;
}
.quote {
    font-size: 30px;
    text-align: center;
}

.quote-credit {
    font-size: 30px;
    font-weight: 800;
    text-align: end;
}

.endofpage {
    display: flex;
    flex-direction: column;
    margin-right: 25%;
    margin-left: 25%;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 40px;
    width: 50%;
    background-color: blue;
}
.congrats {
    margin-left: 10%;
    font-size: 20px;
    font-weight: 700;
}

.button-placement {
    display: flex;
    justify-content: center left;
    justify-content: space-between;
    margin-right: 10%;
    margin-left: 10%;
    align-items: center;

}
.btt {
    font-size: medium;
    text-align: right;
    background-color: blue;
    border: 3px solid white;
}
.copyright {
    text-align: center;
    background-color: grey;
    padding: 10px;
    margin-bottom: 0;
}