/** style.css **/

body {
    margin: 0;
    padding: 0;
}
#banner {
    padding-right: 5%;
    padding-left: 10%;
    padding-top: 10px;
    padding-bottom: 20px;
    background-color: grey;
}
.logo {
    height:175px;
}

.header {
    display: flex;
    flex-direction: row;
    flex:1;
    justify-content: space-between;
    
}
a:link {
    list-style: none;
    text-decoration: none;
    
}

.links {
    display: flex;
    flex-direction: row;
    gap: 30px;
    height:min-content;
    justify-content: right;
    font-size: 30px;
}

.info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex:1;
    gap: 10%;
    margin-top: 30px;
    height: min-content;
    
}
.welcome {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
h3 {
    color: wheat;
}

.wip {
    width: 550px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.ghpage {
    background-color: blue;
    font-size: large;
    font-weight: 700;
    border-radius: 15px;
}

.img-showcase {
    font-size: larger;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 15%;
    margin-left: 15%;
}
.imgs-li {
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 15px;

}

.imgs {
    width: 175px;
    height:150px;
    border-width: 175px;
}


figcaption {
    color: wheat;
    width: 175px;
    text-align: center;
}