/** style.css **/

body {
   margin-left: 10%;
   margin-right: 10%;
}

.logo {
    height:175px;
}

.header {
    display: flex;
    flex-direction: row;
    flex:1;
    justify-content: space-between;
}
a:link {
    list-style: none;
    text-decoration: none;
    
}

.links {
    display: flex;
    flex-direction: row;
    gap: 30px;
    height:min-content;
    justify-content: right;
    font-size: 30px;
}

.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex:1;
    gap: 10%;
    margin-top: 30px;
    height: min-content;
    
}
.welcome {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 40%;
}

.wip {
    width: 550px;
}

.ghpage {
    background-color: blue;
    font-size: large;
}